body {
  font-family: sans-serif;
  background-color: rgb(238, 228, 248);
}
.main {
  margin: 30px auto;
  max-width: 600px;
}
.nav {
  padding-top: 10px;
}

.yellow-color {
  background-color: rgba(240, 240, 126, 0.875);
}
.center {
  text-align: center;
  line-height: 1;
}
.border {
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
}
.small-font {
  font-size: 10px;
}
#city-name{
  color: #878787;
  font-size: 30px;
  font-weight: 500;
}
#degree {
  font-weight: bold;
  font-size: 40px;

}
.git-info {
  font-size: 12px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
}

.weather-temperature strong {
   color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: 10px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -10px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.srach-form {
  background-color: blueviolet;
  color: #fff;
  border: 2px solid blueviolet;
  margin-right: 10px;
}
.srach-form:hover {
  color: blueviolet;
  background-color: #fff;
  border: 2px solid blueviolet;
}
#current-location {
  background-color: #fff;
  color: blueviolet;
  border: 2px solid white;
}
#current-location:hover {
  background-color: #fff;
  color: blueviolet;
  border: 2px solid blueviolet;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
